body {
	margin:0; padding:0;
	font-family:'Lato', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
}
#map {
	position:absolute;
	top:52px; bottom:0;
	width:100%;
}



/* map by d3.js  */
.background {
	fill: #e4f0fc;
	pointer-events: all;
}

#japan {
	fill: #fff;
	stroke: #aaa;
	stroke-width: 0.5px;
}


#japan .active {
	stroke: orange;
	stroke-width: 0.5px;
}


/* navbar */
#navbar {
	background: #0074bf;
	border-radius: 0;
	height: 50px;
}

#title {
	position: absolute;
	font-size: 22px;
	color: #fff;
	text-shadow: none;
	text-decoration: none;
	padding: 14px;
}

#navbar-center {
	position: absolute;
	left: 50%; top: 16px;
	margin-left: -30px;
	height: 20px;
	color: #fff;
	font-size: 14px;
}

#navbar-center:hover {
	opacity: 0.8;
	cursor: pointer;
}

#navbar-score {
	font-size: 18px;
	padding-right: 0.3em;
}


#navbar-right {
	position: absolute;
	top: 10px; right: 10px;
}

#navbar-toggle {
	color: #fff;
	text-shadow: none;
}

#offcanvas-main {
	background: #fff;
}

.uk-offcanvas-bar:after {
	box-shadow: none;
	background: none;
}

.uk-offcanvas-bar {
	box-shadow: 7px 0 5px -5px rgba(0,0,0,0.4) inset;
}

#reset {
	width: 270px; height: 33px;
	text-align: center;
	padding-top: 12px;
	background: #c0392b;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.8;
}

#reset:hover {
	opacity: 0.6;
}


/* prefecture table */
#prefectures {
	border-collapse: collapse;
	border-top: 1px solid #ccc;
}

#prefectures tr {
	height: 45px;
	border-bottom: 1px solid #ccc;
}

#prefectures .name {
	width: 150px;
	padding-left: 10px;
	color: #000;
	font-weight: normal;
	text-align: left;
	opacity: 0.8;
}


#prefectures td {
	width: 20px;
	opacity: 0.4;
}

#prefectures td:hover, #prefectures td.select {
	opacity: 1;
}



/* 6 colors */
.zero  { background: #ffffff; fill: #ffffff; }
.one   { background: #3498db; fill: #3498db; }
.two   { background: #2ecc71; fill: #2ecc71; }
.three { background: #f1c40f; fill: #f1c40f; }
.four  { background: #e74c3c; fill: #e74c3c; }
.five  { background: #9b59b6; fill: #9b59b6; }




/* info button */
#info-button {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 10;
}

#info-button a {
	font-size: 200%;
	color: #7f8c8d;
	text-decoration: none;
}



/* popup */
#popup rect {
	opacity: 0.4;
}

#popup rect:hover, #popup rect.select {
	opacity: 1;
}


